* {
  margin: 0;
  padding: 0;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  display: block;
  clear: both;
  content: "";
  line-height: 0;
}
html,
body {
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}
body {
  background-color: #36454f;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 20px 0;
}
#pagepiling .section:first-child {
  background: url("../img/bg4.jpg") no-repeat center center;
  background-size: cover;
}
#pagepiling .section:first-child img {
  width: 500px;
  height: 500px;
  filter: blur(0.5px);
}
#pagepiling .section:nth-child(2) {
  background: url("../img/bg2.jpg") no-repeat center center;
  background-size: cover;
}
#pagepiling .section:nth-child(3) {
  background: url("../img/bg3.jpg") no-repeat center center;
  background-size: cover;
}
