* {
  margin: 0;
  padding: 0;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  display: block;
  clear: both;
  content: "";
  line-height: 0;
}
html,
body {
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}
body {
  background-color: #36454f;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 20px 0;
}
#pagepiling .section {
  background-color: #36454f;
}
#pagepiling .section:nth-child(even) {
  background-color: #9bc4e2;
}
